/*  */
.Appcontainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .form_group{

} */
.form_group:not(:last-child) {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.form_group > .form_control {
  font-family: inherit;
  font-size: 2rem;
  color: inherit;
  border-radius: 1rem;
  background-color: rgba(white, 0.5);
  display: flex;
  border: solid 3px #C6DCE0;
  padding: 1rem 1.5rem;
  width: 100%;
  /* border-bottom: 3px solid black; */
}
.form_group > .form_control:focus {
  outline: none;
  /* border-bottom: 3px solid black; */
}
/* .form_group > label {
} */
label {
  font-size: 1.5rem;
  color: rgb(35, 131, 148);
  display: inline-block;
  margin-bottom: .2rem;
}
.label_filter{
  font-size: 1.6rem;
  font-weight: 600;
  color: #00596b;
  display: inline-block;
  margin-bottom: .2rem;
  padding-bottom: 1rem;
}